body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-form p {
  margin: 0 0 20px 0;
  font-weight: bold;
}

.login-form .welcome-message {
  font-weight: normal;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  font-size: 0.9em;
  color: #333;
  margin-bottom: 5px;
}

.login-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(243, 247, 255);
  outline: none;
  border-color: rgb(229, 231, 235);
}

.login-form input:focus {
  border-color: rgb(93, 136, 251);
}

.login-form button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: rgb(73, 117, 255);
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.login-form button:hover {
  background-color: rgb(44, 95, 255);
}
