<!DOCTYPE html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<html>
<body>

<h1>Your reading from {{@inputs.date}}</h1>

<table style="width:100%">
    <tr>
        <th>Diastolic</th>
        <td>{{@inputs.diastolic}}</td>
    </tr>
    <tr>
        <th>Systolic</th>
        <td>{{@inputs.systolic}}</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>{{@inputs.category}}</td>
    </tr>
</table>
