<!DOCTYPE html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<html>
<body>

<h1>Your reading from $content.date</h1>

<table style="width:100%">
    <tr>
        <th>Diastolic</th>
        <td>$content.diastolic</td>
    </tr>
    <tr>
        <th>Systolic</th>
        <td>$content.systolic</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>$content.blood_pressure</td>
    </tr>
</table>
